/CMakeCache.txt
/bitbucket-pipelines.yml
/cmake_install.cmake
/ExampleProject
/Makefile
/CMakeFile
/src/CMakeFile
/src/cmake_install.cmake
/src/libExampleProject_src.a
/src/Makefile
/test/CMakeFile
/test/cmake_install.cmake
/test/Makefile
/test/ExampleProject_test


